@model Sensitive_Data_Application.Models.Fellow

@{
    ViewBag.Title = "Tech Fellows";
}
<button class="btn btn-dark btn-sm" id="scroll-down-button">Scroll Down<br />To Add More</button>
<div class="current-main">
    <h3>Here Is The List of Currently Recorded Tech Founders of Recent Years</h3>
    <div class="table-responsive-sm mb5">
        <table class="table table-bordered border-primary border-opacity-25 table-hover">
            <caption>Tech Fellows</caption>
            @* First Row of table is the headings row*@
            @* The Children of the headings row tr.. are all th=table heading *@
            <thead class="bg-gradient bg-info">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Company Founded</th>
                    <th>Year Founded</th>
                    <th>Delete?</th>
                    <th>Edit?</th>
                </tr>
            </thead>
            <tbody>
                @* The rest of the row are normal data rows *@
                @* Whose children are td=table data elements *@
                @foreach (var F in ViewBag.Fellows) // We opt to act like we dont know the type..
                {
                    <tr>
                        <td>@F.Name</td>
                        <td>@F.Surname</td>
                        <td class="table-active">@F.CompanyFound</td>
                        <td>@F.Year</td>
                        <td>
                            @using (Html.BeginForm("DeleteFellow", "Home", new { Id = F.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-danger" title="Delete this fellow">Delete</button>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("EditFellow", "Home", new { Id = F.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-warning" title="Edit this fellow">Edit</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@using (Html.BeginForm("PostFellow", "Home", FormMethod.Post, new { ContentType = "application/x-www-form-urlencoded" }))
{
    <div class="shadow p-5 mb-5 bg-light bg-opacity-10 bg-gradient rounded-5">
        <p class="text-secondary">There's always space for one more fellow.</p>
        <div class="form-group row m-1">
            @Html.LabelFor(f => f.Name, new { Class = "col-sm-2 col-form-label col-form-label-lg" })
            <div class="col-sm-10">
                @Html.TextBoxFor(f => f.Name, new { Class = "form-control form-control-lg", PlaceHolder = "Name", @required = "Required" })
            </div>
        </div>
        <div class="form-group row m-1">
            @Html.LabelFor(f => f.Surname, new { Class = "col-sm-2 col-form-label col-form-label-lg" })
            <div class="col-sm-10">
                @Html.TextBoxFor(f => f.Surname, new { Class = "form-control form-control-lg", PlaceHolder = "Surname", @required = "Required" })
            </div>
        </div>
        <div class="form-group row m-1">
            @Html.LabelFor(f => f.CompanyFound, new { Class = "col-sm-2 col-form-label col-form-label-lg" })
            <div class="col-sm-10">
                @Html.TextBoxFor(f => f.CompanyFound, new { Class = "form-control form-control-lg", PlaceHolder = "Company Founded", @required = "Required" })
            </div>
        </div>
        <div class="form-group row m-1">
            @Html.LabelFor(f => f.Year, new { Class = "col-sm-2 col-form-label col-form-label-lg" })
            <div class="col-sm-10">
                @Html.TextBoxFor(f => f.Year, new { Type = "number", Class = "form-control form-control-lg", PlaceHolder = "Company Founded", @required = "Required" })
            </div>
        </div>
        <br />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}